@font-face {
    font-family: "RX";
    src:url("https://psychofaced.github.io/css/RX-09.woff") format("woff");
    }
@font-face {
    font-family: "RX-Out";
    src:url("https://psychofaced.github.io/css/RX-09-Outline.woff") format("woff");
    }
@font-face {
    font-family: "IC";
    src:url("https://psychofaced.github.io/css/Ic_fi-Regular.woff") format("woff");
    }

